body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

form label {
  font-size: 14px;
  line-height: 21px;
}

form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  line-height: 21px;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.filter-button {
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.brown-button {
  color: #ffffff;
  background-color: #766357;
}

.brown-button:hover {
  background-color: #604e42;
}

.brown-button:active {
  color: #908c89;
  background-color: #503e32;
}

.blue-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.blue-button:hover {
  background-color: #669ebf;
}

.blue-button:active {
  color: #908c89;
  background-color: #5396c0;
}

.form-button {
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.form-button:hover {
  color: #000000;
  background-color: #ebebeb;
}

.form-button:active {
  color: #81b3d2;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation a.site-navigation-current {
  color: #766357;
}

.container > p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.container > h3 {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.features-list {
  list-style: none;
}

.features-list p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.features-list h3 {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features-list-item {
  text-align: center;
}

.features-list-item:first-child,
.features-list-item:nth-child(2) {
  background-color: #81b3d2;
}

.features-list-item:nth-child(-n+2) {
  color: #ffffff;
}

.goods-and-services {
  list-style: none;
}

.goods-and-services p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.goods-and-services h3 {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.goods-and-services-item {
  text-align: center;

  background-color: #eeeeee;
}

.order > p:first-of-type {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.order > p:nth-of-type(2) {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.brown-button.search-button {
  font-size: 21px;
  line-height: 26px;
}

.blue-button.search-button {
  font-size: 21px;
  line-height: 26px;
}

:focus {
  outline: 0;
}

img {
  max-width: 100%;
}

.header-background {
  background-color: #ffffff;
}

form input {
  color: #000000;
  background-color: #f2f2f2;
}

form input:hover {
  color: #000000;
  background-color: #ebebeb;
}

form input:focus {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.search-item input {
  font: inherit;
  line-height: 21px;
  background-color: #f2f2f2;
}

.search-item input:focus {
  border-color: #663d15;
}

.map-background {
  background-image: url("../img/map.jpg");
}

.main-footer {
  color: #000000;
  background-color: rgba(255, 255, 255 0.5);
}

.footer-social,
.footer-copyright,
.footer-tag {
  text-align: center;
}

.social-button {
  color: #ffffff;
}

.order-info {
  font-weight: normal;
}

.sort {
  list-style: none;
}

.sort-item {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.selector {
  list-style: none;
}

.selector-item {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.view-and-book-botton {
  list-style: none;
}

.view-and-book-item {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.blue-button.view-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.brown-button.book-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.footer-social {
  list-style: none;
}

.main-footer .footer-tag {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.main-footer .footer-copyright {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.main-footer a {
  color: #000000;
  text-decoration: none;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #766357;
}

.filter-background {
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
}

.filter-option {
  list-style: none;
}

.search-form label {
  color: #000000;
}

.filter label,
.filter legend,
.filter output {
  color: #ffffff;
}

.housing-header-item p {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-item a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-item a:active {
  color: #000000;
  border-bottom: none;
}

.sort-item-current {
  color: #81b3d2;
}

.selector-item a {
  color: #cacaca;
}

.selector-item a:hover {
  color: #000000;
}

.selector-item a:active {
  color: #81b3d2;
}

.housing-item h3 {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.housing-item h3 a {
  color: #000000;
}

.housing-item h3 a:hover {
  color: #81b3d2;
}

.housing-item h3 a:active {
  color: #b2b2b2;
}

.footer-social-item a {
  background-color: #81b3d2;
}

.footer-social-item a:hover {
  background-color: #669ec0;
}

.footer-social-item a:active {
  background-color: #5496bd;
}

.main-footer .htmlacademy-logo a {
  background-color: #000000;
}

.main-footer .htmlacademy-logo a:hover {
  background-color: #81b3d2;
}

.main-footer .htmlacademy-logo a:active {
  background-color: #bdbbbc;
}
