body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
}

html { 
	box-sizing: border-box; 
}

*, *::before, *::after { 
	box-sizing: inherit; 
}

a {
	text-decoration: none;
}

img { 
	max-width: 100%; 
}

.header-background {
	background-image: url("../img/background.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
}

.navigation {
	list-style: none;
}

.button {
	font: inherit;
	line-height: 21px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.filter-button {
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter-button:hover {
	color: #000000;
	background-color: #ffffff;
}

.brown-button {
	color: #ffffff;
	background-color: #766357;
}

.brown-button:hover {
	background-color: #604e42;
}
.brown-button:active {
	color: #908c89;
	background-color: #503e32;
}

.blue-button {
	color: #ffffff;
	background-color: #81b3d2;
}

.blue-button:hover {
	background-color: #669ebf;
}

.blue-button:active {
	color: #908c89;
	background-color: #5396c0;
}

.form-button {
	color: #a9a9a9;
	background-color: #f2f2f2;	
}

.form-button:hover {
	color: #000000;
	background-color: #ebebeb;	
}

.form-button:active {
	color: #81b3d2;
}

form input {
	color: #000000;
	background-color: #f2f2f2;
}

form input:hover {
	color: #000000;
	background-color: #ebebeb;
}

form input:focus {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.navigation a {
	color: #000000;
}

.navigation a:hover {
	color: #81b3d2;
}
.navigation a:active {
	color: #b2b2b2;
}

.navigation a.site-navigation-current {
	color: #766357;
}

.features-list,
.goods-and-services {
	list-style: none;
}

.features-list-item {
	text-align: center;
}

.features-list-item h3,
.goods-and-services-item h3 {
	font-size: 18px;
	line-height: 21px;
}

.features-list-item:nth-child(-n+2) {
	color: #ffffff;
}

.search-item input {
	font: inherit;
	line-height: 21px;
	background-color: #f2f2f2;
}

.search-item input:focus {
	border-color: #663d15;
}

.map-background {
	background-image: url(../img/map.jpg);
}

.main-footer {
	color: #000000;
	background-color: rgba(255,255,255 0.5);
}

.footer-social,
.footer-copyright,
.footer-tag {
	text-align: center;
}

.footer-social-item {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.order-info {
	font-weight: normal;
}

.sort {
	font-weight: normal;
}

.view-and-book-item {
	font-weight: normal;
}

.rating {
	font-weight: normal;
}

.main-footer a {
	color: #000000;
	text-decoration: none;
}

.main-footer a:hover,
.main-footer a:focus {
	color: #766357;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #766357;

	background-color: #ffffff;
}

.filter-background {
	background-image: url(../img/background-filter.jpg);
	background-repeat: no-repeat;
}

.filter {
	color:#ffffff;
}

.filter-option,
.view-and-book-item > li {
	list-style: none;
}

.sort {
	list-style: none;
}

.sort-item a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:active {
	color: #000000;
	border-bottom: none;
}

.sort-item-current {
	color: #81b3d2;
}

.selector {
	list-style: none;
}

.selector-item a {
	color: #cacaca;
}

.selector-item a:hover {
	color: #000000;
}

.selector-item a:active {
	color: #81b3d2;
}

.housing-item h3 a {
	color: #000000;
}

.housing-item h3 a:hover {
	color: #81b3d2;
}

.housing-item h3 a:active {
	color: #b2b2b2;
}

.footer-social-item a div {
	background-color: #81b3d2;
}

.footer-social-item a div:hover {
	background-color: #669ec0;
}

.footer-social-item a div:active {
	background-color: #5496bd;
}

.footer-copyright a div {
	background-color: #000000;
}

.footer-copyright a div:hover {
	background-color: #81b3d2;
}

.footer-copyright a div:active {
	background-color: #bdbbbc;
}

.container > p {
	font-weight: normal;
}

.features-list-item p {
	font-weight: normal;
}
